.item {
    margin-top: 45px;
    margin-bottom: 45px;

    padding-top: 30px;
    padding-bottom: 30px;

    h3 {
        font-size: 20px;
    }
    h4 {
        font-size: 16px;
    }

    .left-col {
        border-right-style: solid;
        border-right-width: 1px;
        border-right-color: #babbbc;
    }
    .right-col {
    }
}
