@import "src/theme";

.item {
    margin-bottom: 30px;

    h1,
    h2,
    h3 {
        font-family: $primary-cursive-font-family;
        font-weight: 600;
    }

    h4 {
        font-size: 16px;
    }

    .item-col {
        padding-top: 70px;
        padding-bottom: 70px;
        &.left {
            border-right-style: solid;
            border-right-width: 1px;
            border-right-color: #babbbc;
            text-align: right;
            padding-right: 25px;
        }
        &.right {
            padding-left: 25px;
            p {
                line-height: 0.4;
            }
            .details {
              margin-top: 40px;
            }
        }
    }
}
