// sizes
$size-huge: 1900px;
$size-extra-large: 1281px;
$size-large: 1025px;
$size-medium: 768px;
$size-small: 481px;
$size-extra-small: 320px;

// colors
$primary-color: #364251;
$secondary-color: #8fb2d2;
$white: #ffffff;

// fonts
$primary-cursive-font-family: 'Cedarville Cursive', cursive;
$primary-font-family: 'Roboto', sans-serif;
